/* src/components/PasswordRecoveryForm/PasswordRecoveryForm.css */

.recovery-content {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px 40px; 
    border-radius: 10px;
    text-align: center;
    max-width: 450px; 
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
}

.recovery-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    height: 80px; 
    width: 80px;  
    margin: 0 auto 20px;
}

.recovery-content h1 {
    font-size: 24px;
    margin-bottom: 15px; 
    color: #333; 
}

.recovery-content p {
    font-size: 14px;
    margin-bottom: 25px; 
    color: #555; 
    line-height: 1.5; 
}

.recovery-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recovery-input-group {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.recovery-input-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 22px;
    color: #6a7b81;
    pointer-events: none; 
}

/* Oculta las flechas/spinners en inputs numéricos */
.recovery-input-group input[type=number] {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  margin: 0; /* Necesario con -webkit-appearance */
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Estándar */
}

/* Fallback por si acaso para navegadores Webkit más antiguos */
.recovery-input-group input[type=number]::-webkit-outer-spin-button,
.recovery-input-group input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.recovery-input-group input {
    width: 100%;
    padding: 17px 11px 17px 50px; 
    border: 1px solid #ccc; 
    border-radius: 25px;
    background-color: #fafafa;
    outline: none;
    color: #333; 
    font-size: 16px; 
    box-sizing: border-box;
}

.recovery-input-group input:focus {
    border-color: #0e688eb7; 
    box-shadow: 0 0 5px rgba(14, 104, 142, 0.3);
}

.recovery-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 320px; 
    margin-top: 10px; 
}

.recovery-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    width: 48%;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.recovery-buttons button[type="button"] {
    background-color: #ccc; 
    color: #333;
}

.recovery-buttons button[type="button"]:hover {
    background-color: #bbb;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.recovery-buttons button[type="submit"] {
    background-color: #617881; 
    color: white;
}

.recovery-buttons button[type="submit"]:hover {
    background-color: #a8b8be; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}