

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e688eb7;
  box-sizing: border-box; 
}

*, *::before, *::after {
  box-sizing: inherit;
}